<!DOCTYPE html>
<html>
<head>
    <title>Google OAuth 2.0</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="/javascripts/firebase-init.js"></script>
    <script>
        initFirebase();    
        var userRef = firebase.database().ref("users/");
        userRef.orderByChild('email').equalTo("<%= user.emails[0].value %>").on('child_added',function(data){
        var ulElement = document.getElementById('course');
        for(var i = 0; i < data.val().course.length; i++){
            var liElement = document.createElement('li');
            liElement.innerHTML = data.val().course[i];
            ulElement.appendChild(liElement);
        }
        });
    </script>

</head>
<body>
<% for(var i in user.photos){ %>
    <p> <img src="<%= user.photos[i].value %>" alt="Photo of <%= user.displayName %>" > </p>
<% } %>
    <p>ID: <%= user.id %></p>
    <p>Name: <%= user.displayName %></p>
<% for(var i in user.emails){ %>
    <p>Email : <%= user.emails[i].value %></p>
<% } %>
    <p>Course : 
        <ul id="course">

        </ul>
    </p>

    <a href="/logout">Logout</a>   
</body>
</html>
