<!DOCTYPE HTML>
<html>
<head>
        <title>互動式共享筆記系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/notePage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        <script src="/javascripts/bootbox.min.js"></script>

        <!-- Screen Broadcast -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/RTCMultiConnection.min.js"></script>
        <script src="/javascripts/getScreenId.js"></script>
        

        <script>
            function init(){ 
                initFirebase();
                var userEmail = "<%= user.emails[0].value %>";
                var userEID = userEmail.split('@')[0];
                var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');

                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                hyperlinkOverlay(codeMirror);
                qaOverlay(codeMirror);
                askingOverlay(codeMirror);
                var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: true, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                firepad.on('ready', function() {
                    if(firepad.isHistoryEmpty()) {
                        firepad.setHtml('<span style="font-size: 24px;"><%= title %> </span>');
                    }
                });

                var irsLiElement = $('<li></li>').html('<a href="irs-student" target="irs-student"><span class="glyphicon glyphicon-flash"></span> 即時互動問答</a>');
                $('#navList').append(irsLiElement);
                var watchLink = $('<li></li>').html('<a href="#" onclick="watchNote()"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;觀看同學筆記</a>');
                $('#navList').append(watchLink);
                var liveLink = $('<li></li>').html('<a href="#" id="joinBroadcast" onclick="livebtn()"><span class="glyphicon glyphicon-globe"></span> 查看課程廣播</a>');
                $('#navList').append(liveLink);
                
                var btn = document.createElement("button");
                btn.setAttribute('onclick',"slidebtn()");
                btn.setAttribute('id',"slidebtn");
                btn.setAttribute('class',"btn navbar-btn btn-info");
                btn.innerHTML = "隱藏筆記";
                var liElement = document.createElement("li");
                liElement.appendChild(btn);
                $('#navList').append(liElement);
                showPPT();
            }

            function showPPT() {
                document.getElementById("video-preview").style.display = "none";
                document.getElementById("slide").style.display = "";
                //$('#ppt').attr('src', url);

            }
            function showVideo(){
                document.getElementById("slide").style.display = "none";
                document.getElementById("slide").style.zIndex = "0";
                document.getElementById("video-preview").style.display = "";
                document.getElementById("video-preview").style.zIndex = "1";
                //$('#learningBlock').append('<video id="video-preview" controls loop></video');
            }
            function slidebtn(){
                var btn = document.getElementById("slidebtn");
                if( btn.innerHTML == "隱藏筆記" ){
                    btn.innerHTML = "顯示筆記";
                    document.getElementById('slide').style.right = "0%";
                    document.getElementById('video-preview').style.width = "100%";
                    document.getElementById('firepad-container').style.left = "100%";
                }
                else if ( btn.innerHTML == "顯示筆記" ){
                    btn.innerHTML = "隱藏筆記";
                    document.getElementById('slide').style.right = "33%";
                    document.getElementById('video-preview').style.width = "67%";
                    document.getElementById('firepad-container').style.left = "67%";
                }
            }
           
            function parsePPTURL(pptUrl){
                var patt = /https:.*?(quot;|#39)/;
                var match = patt.exec(pptUrl);
                var url = match[0].substr(0,match[0].length - 4);
                url = url.replace(/&amp;/g,"&");
                return url;
            }
            function watchNote(){
                var dialog = bootbox.dialog({
                    title: '請輸入同學的Email帳號',
                    message: "<p>例如 : <font color='red'>abc@gmail.com</font> 或 <font color='red'>abc@ncnu.edu.tw</font> 只要輸入 <big><font color='red'>abc</font></big> 即可</p><p><b>*口試demo*</b> : 請輸入 s102321003 來當作範例 </p><input id='userEID' type='text' class='form-control'>",
                    buttons: {
                        cancel: {
                            label: "取消",
                            className: 'btn-danger',
                        },
                        ok: {
                            label: "觀看",
                            className: 'btn-info',
                            callback: function(){
                                var userEID = document.getElementById('userEID').value;
                                if(userEID != "" && userEID != undefined){
                                        var firepadRef = firebase.database().ref('/'+'note-'+ userEID).child('<%= title %>');
                                        var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });// Actually, you will not modify the content of firepad-container... But it has to do this to use firepad.getHtml()
                                        var shareFirepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                                            { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                                        );
                                        shareFirepad.on('ready', function() {
                                            if(shareFirepad.getHtml() == ""){
                                                bootbox.alert('查無此人筆記，請重新輸入');            
                                            }
                                            else{
                                                var alertBox = bootbox.alert(shareFirepad.getHtml());
                                                alertBox.find('.modal-content').css({'user-select': 'none'});
                                            }
                                            shareFirepad.dispose();
                                        });
                                }
                                else{
                                    bootbox.alert('請輸入Email帳號');
                                }
                            }
                        }
                    }
                });


            }       
            function liveSwitchBtn(){
                var pptUrl = parsePPTURL("<%= pptUrl %>");
                var switchBtn = document.getElementById("liveSwitchBtn");
                if( switchBtn.innerHTML == "顯示離線的投影片" ){
                    switchBtn.innerHTML = "跟隨線上課程廣播";
                    showPPT(pptUrl);
                }
                else if( switchBtn.innerHTML == "跟隨線上課程廣播" ){
                    switchBtn.innerHTML = "顯示離線的投影片";
                    showVideo();
                }
            }
            function livebtn() {
                var courseRef = firebase.database().ref("/courses").child("<%= courseName %>");
                courseRef.on("value", function (data) {
                    var livePromise = new Promise((resolve, reject) => {
                        resolve(data.val().cid);
                    });
                    livePromise.then(broadcastId => {
                        var socket = connection.getSocket();
                        socket.emit('check-broadcast-presence', broadcastId, function (isBroadcastExists) {
                            if (!isBroadcastExists) {
                                // the first person (i.e. real-broadcaster) MUST set his user-id
                                //connection.userid = broadcastId;
                                bootbox.alert('<h3>目前老師還沒有在上課喔!</h3>');
                            } else {
                                console.log('check-broadcast-presence', broadcastId, isBroadcastExists);

                                bootbox.confirm({
                                    message: "<h3>目前老師正在上課! <br>是否觀看廣播 ?</h3>",
                                    buttons: {
                                        confirm: {
                                            label: '觀看',
                                            className: 'btn-success'
                                        },
                                        cancel: {
                                            label: '取消',
                                            className: 'btn-danger'
                                        }
                                    }, callback: function (result) {
                                        if (result) {  // if click "觀看"
                                            receiveBroadcast(broadcastId);
                                        }
                                    }
                                });

                            };
                        });
                    }).catch(err => {
                        console.log(err);
                        bootbox.alert('<h3>伺服器忙碌中，請稍後再試一次 ! </h3>');
                    });
                });
        };
        </script>
</head>
<body onload="init();">
    <% include layouts/header %>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="embed-responsive embed-responsive" id="slide">
                    <iframe id="ppt" allowFullScreen></iframe>
                    <script>
                        var pptUrl = parsePPTURL("<%= pptUrl %>");
                        $('#ppt').attr('src', pptUrl);
                    </script>
                </div>
                <video id="video-preview" controls="false"></video>       
                <script src="/javascripts/broadcast-student.js"></script>  <!-- Must be here -->
            </div>
            <div class="col-sm-6 col-md-6">
                <div id="firepad-container">
                </div>
            </div>
    </div>
    
</body>
</html>
