<!DOCTYPE HTML>
<html>
<head>
        <title>教學筆記系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/noteWatchPage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        <script src="/javascripts/bootbox.min.js"></script>

        <script>
            $(document).ready(function(){  
                initFirebase();
                // Add student from data into select list
                var userRef = firebase.database().ref("users/");
                userRef.on('value',function(data){
                    $('#studentSelect').html("");
                    for(var i in data.val()){
                        if(data.val()[i].character == "student"){
                            var name = data.val()[i].name;
                            var email = data.val()[i].email;
                            var newOption = document.createElement('option');
                            newOption.innerHTML = name + ' < ' + email + ' > ' ;
                            newOption.setAttribute('value',email);
                            $('#studentSelect').append( newOption );
                        }
                    }
                });
                // Add slide link
                var slideLiElement = $('<li></li>').html('<a href="' + parsePPTURL("<%= pptUrl %>") +'" target="#"><span class="glyphicon glyphicon-file"></span> 投影片</a>');
                var liveLiElement = $('<li></li>').html('<a href="#" onclick="liveCodePrompt()"><span class="glyphicon glyphicon-globe"></span> 線上展示</a>');
                $('#navList').append(slideLiElement);
                $('#navList').append(liveLiElement);

                // Select list click
                $('#studentSelect').change(function(){
                    var name = $('#studentSelect').find(':selected').text();
                    var email = $('#studentSelect').find(':selected').val();
                    $('#studentName').text(name);
                    var userEID = email.split('@')[0];
                    choosePad(userEID);
                });

                // Random choose button
                $('#randomStudent').click(function(){
                    var options = $('#studentSelect').find('option');
                    var randomIndex = Math.floor((Math.random() * options.length));
                    var name = options.eq(randomIndex).text();
                    var email = options.eq(randomIndex).val();
                    $('#studentName').text(name);
                    var userEID = email.split('@')[0];
                    choosePad(userEID);
                });
                
            }); 
            // change pad depend on user
            function choosePad(userEID){
                var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');
                var firepadContainer = document.getElementById('firepad-container');
                firepadContainer.innerHTML = "";
                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                hyperlinkOverlay(codeMirror);
                qaOverlay(codeMirror);
                var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                firepad.on('ready', function() {
                    //console.log(firepad.getHtml());
                });
            }
            function parsePPTURL(pptUrl){
                var patt = /\/\/www\..*?&#39/;
                var match = patt.exec(pptUrl);
                pptUrl = match[0].replace(/&#39/,"");
                return pptUrl;
            }
            function liveCodePrompt(){
                var promiseResult = new Promise(function(resolve,reject){
                    // get the live code according to the chapter title 
                    var courseRef = firebase.database().ref("courses/" + "<%= courseName %>");
                    courseRef.on("value",function(data){
                        resolve(data.val().live);
                    });     
                });
                promiseResult.then(value => {
                    bootbox.prompt({ 
                        buttons : {
                            confirm : {
                                label : "儲存並開始線上展示",
                                className : 'btn-primary'
                            },
                            cancel : {
                                label : "結束線上展示並清除",
                                className : 'btn-danger'
                            }
                        },
                        size: "large",
                        value : value,
                        title: "請輸入Powerpoint 線上展示連結", 
                        callback: function(result){ /* result = String containing user input if OK clicked or null if Cancel clicked */    
                            if(result != null && result != undefined){
                                firebase.database().ref("courses/" + "<%= courseName %>").child('live').set(result);
                            }else{
                                firebase.database().ref("courses/" + "<%= courseName %>").child('live').set("");
                            }
                        }
                    });
                });
                
            }
        </script>
</head>
<body>
    <% include layouts/header %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div id="firepad-container">
                </div>        
            </div>
            <div class="col-sm-4 col-md-4">
                <h3><%= title %></h3>
                <div class="form-group" id="studentBlock">
                    <button id = "randomStudent" type="button" class="btn btn-success">隨機挑選學生</button>
                    <h3>你選擇的是 : <b><div id="studentName">尚未選擇</div> </b></h3>
                    <select class="form-control" id="studentSelect" size="25">
                    </select>
                </div> 
            </div>
    </div>
</body>
</html>