<!DOCTYPE HTML>
<html>
<head>
        <title>教學筆記系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/notePage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        <script src="/javascripts/bootbox.min.js"></script>
        

        <script>
            initFirebase();
            function init(){ 
                var userEmail = "<%= user.emails[0].value %>";
                var userEID = userEmail.split('@')[0];
                var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');

                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                hyperlinkOverlay(codeMirror);
                qaOverlay(codeMirror);
                askingOverlay(codeMirror);
                var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: true, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                firepad.on('ready', function() {
                    if(firepad.isHistoryEmpty()) {
                        firepad.setHtml('<span style="font-size: 24px;"><%= title %> </span>');
                    }
                });

                var watchLink = $('<li></li>').html('<a href="#" onclick="watchNote()"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;觀看同學筆記</a>');
                $('#navList').append(watchLink);

                var btn = document.createElement("button");
                btn.setAttribute('onclick',"slidebtn()");
                btn.setAttribute('id',"slidebtn");
                btn.setAttribute('class',"btn navbar-btn btn-info");
                btn.innerHTML = "隱藏筆記";
                var liElement = document.createElement("li");
                liElement.appendChild(btn);
                $('#navList').append(liElement);
                      
                var pptUrl = parsePPTURL("<%= pptUrl %>");
                callIframe(pptUrl);  

                var courseRef = firebase.database().ref("/courses").child("<%= courseName %>");
                courseRef.on("value",function(data){
                        // live = "Empty" => 老師按下清除live url，但還沒消掉按鈕 ; live = "" => 消除按鈕，再call slide frame；  此動作是避免在沒有live的時候，slide frame會被call 兩次的問題
                        var btnPromise = new Promise(function(resolve, reject){
                            resolve(data.val());
                        });
                        btnPromise.then(value => {
                            if(value.live != "" && value.live != "Empty"){
                                alert('目前老師正在上課哦，按下上方紅色按鈕一起上課吧!');
                                var livebtn = document.createElement("button");
                                livebtn.setAttribute('onclick',"livebtn()");
                                livebtn.setAttribute('id',"livebtn");
                                livebtn.setAttribute('class',"btn btn-danger navbar-btn");
                                livebtn.innerHTML = "跟隨線上展示";
                                var liElement = document.createElement("li");
                                liElement.appendChild(livebtn);
                                $('#navList').append(liElement);
                            }else if(value.live == "Empty"){
                                $("#livebtn").remove();
                                callIframe(pptUrl);
                            }
                        });                
   
                });

            }
            


            function callIframe(url) {
                $('#slide').html("");
                $('#slide').append('<iframe id="ppt" allowFullScreen></iframe>');
                $('#ppt').attr('src', url);

            }
            function slidebtn(){
                var btn = document.getElementById("slidebtn");
                if( btn.innerHTML == "隱藏筆記" ){
                    btn.innerHTML = "顯示筆記";
                    document.getElementById('slide').style.right = "0%";
                    document.getElementById('firepad-container').style.left = "100%";
                }
                else if ( btn.innerHTML == "顯示筆記" ){
                    btn.innerHTML = "隱藏筆記";
                    document.getElementById('slide').style.right = "50%";
                    document.getElementById('firepad-container').style.left = "50%";
                }
            }
            var pptUrl = parsePPTURL("<%= pptUrl %>");
            function livebtn(){
                var btn = document.getElementById("livebtn");
                if( btn.innerHTML == "暫停線上展示" ){
                    btn.innerHTML = "跟隨線上展示";
                    callIframe(pptUrl);
                }
                else if(btn.innerHTML == "跟隨線上展示"){
                    btn.innerHTML = "暫停線上展示";
                    var promiseLive = new Promise(function(resolve , reject){
                        var courseRef = firebase.database().ref("courses/" + "<%= courseName %>");
                        courseRef.once("value").then(function(data){
                            resolve(data.val().live);
                        });     
                    });
                    promiseLive.then(value => {
                        callIframe(value);
                    });
                    
                }
            }
            function parsePPTURL(pptUrl){
                var patt = /\/\/www\..*?&#39/;
                var match = patt.exec(pptUrl);
                pptUrl = match[0].replace(/&#39/,"");
                return pptUrl;
            }
            function watchNote(){
                var dialog = bootbox.dialog({
                    title: '請輸入同學的Email帳號',
                    message: "<p>例如 : <font color='red'>abc@gmail.com</font> 或 <font color='red'>abc@ncnu.edu.tw</font> 只要輸入 <big><font color='red'>abc</font></big> 即可</p><input id='userEID' type='text' class='form-control'>",
                    buttons: {
                        cancel: {
                            label: "取消",
                            className: 'btn-danger',
                        },
                        ok: {
                            label: "觀看",
                            className: 'btn-info',
                            callback: function(){
                                var userEID = document.getElementById('userEID').value;
                                if(userEID != "" && userEID != undefined){
                                        var firepadRef = firebase.database().ref('/'+'note-'+ userEID).child('<%= title %>');
                                        var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });// Actually, you will not modify the content of firepad-container... But it has to do this to use firepad.getHtml()
                                        var shareFirepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                                            { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                                        );
                                        shareFirepad.on('ready', function() {
                                            if(shareFirepad.getHtml() == ""){
                                                bootbox.alert('查無此人筆記，請重新輸入');            
                                            }
                                            else{
                                                bootbox.alert(shareFirepad.getHtml());
                                            }
                                            shareFirepad.dispose();
                                        });
                                }
                                else{
                                    bootbox.alert('請輸入Email帳號');
                                }
                            }
                        }
                    }
                });


            }
        </script>
</head>
<body onload="init();">
    <% include layouts/header %>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="embed-responsive embed-responsive" id="slide">
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div id="firepad-container">
                </div>
            </div>
    </div>
    
</body>
</html>