<!DOCTYPE HTML>
<html>
<head>
        <title>教學筆記系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/notePage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        

        <script>
            function init(){
                initFirebase();
                var userEmail = "<%= user.emails[0].value %>";
                var userEID = userEmail.split('@')[0];
                var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');

                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                hyperlinkOverlay(codeMirror);
                qaOverlay(codeMirror);
                var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: true, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                firepad.on('ready', function() {
                    if(firepad.isHistoryEmpty()) {
                        firepad.setHtml('<span style="font-size: 24px;"><%= title %> </span>');
                    }
                });

                var btn = document.createElement("button");
                btn.setAttribute('onclick',"slidebtn()");
                btn.setAttribute('id',"slidebtn");
                btn.setAttribute('class',"btn navbar-btn btn-info");
                btn.innerHTML = "隱藏投影片";
                var liElement = document.createElement("li");
                liElement.appendChild(btn);
                $('#navList').append(liElement);
                      
                var pptUrl = parsePPTURL("<%= pptUrl %>");
                callIframe(pptUrl);  

                var courseRef = firebase.database().ref("courses/" + "<%= courseName %>");
                courseRef.once("value",function(data){
                        if(data.val().live != ""){
                            console.log(data.val().live);
                            var livebtn = document.createElement("button");
                            livebtn.setAttribute('onclick',"livebtn()");
                            livebtn.setAttribute('id',"livebtn");
                            livebtn.setAttribute('class',"btn btn-danger navbar-btn");
                            livebtn.innerHTML = "跟隨線上展示";
                            var liElement = document.createElement("li");
                            liElement.appendChild(livebtn);
                            $('#navList').append(liElement);
                        }else{
                            $("#livebtn").remove();
                            callIframe(pptUrl);
                        }
                });      
                
            }
            function callIframe(url) {
                $('#slide').html("");
                $('#slide').append('<iframe id="ppt" allowFullScreen></iframe>');
                $('#ppt').attr('src', url);

            }
            function slidebtn(){
                var btn = document.getElementById("slidebtn");
                console.log(btn.innerHTML);
                if( btn.innerHTML == "隱藏投影片" ){
                    btn.innerHTML = "顯示投影片";
                    document.getElementById('slide').style.left = "0px";
                    document.getElementById('firepad-container').style.left = "0%";
                }
                else if ( btn.innerHTML == "顯示投影片" ){
                    btn.innerHTML = "隱藏投影片";
                    document.getElementById('slide').style.right = "50%";
                    document.getElementById('firepad-container').style.left = "50%";
                }
            }
            var pptUrl = parsePPTURL("<%= pptUrl %>");
            function livebtn(){
                var btn = document.getElementById("livebtn");
                if( btn.innerHTML == "暫停線上展示" ){
                    btn.innerHTML = "跟隨線上展示";
                    callIframe(pptUrl);
                }
                else if(btn.innerHTML == "跟隨線上展示"){
                    btn.innerHTML = "暫停線上展示";
                    var promiseLive = new Promise(function(resolve , reject){
                        var courseRef = firebase.database().ref("courses/" + "<%= courseName %>");
                        courseRef.on("value",function(data){
                            resolve(data.val().live);
                        });     
                    });
                    promiseLive.then(value => {
                        callIframe(value);
                    });
                    
                }
            }
            function parsePPTURL(pptUrl){
                var patt = /\/\/www\..*?&#39/;
                var match = patt.exec(pptUrl);
                pptUrl = match[0].replace(/&#39/,"");
                return pptUrl;
            }
        </script>
</head>
<body onload="init();">
    <% include layouts/header %>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="embed-responsive embed-responsive" id="slide">
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div id="firepad-container">
                </div>
            </div>
    </div>
    
</body>
</html>