<!DOCTYPE HTML>
<html>
<head>
        <title>互動式共享筆記系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/notePage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        <script src="/javascripts/bootbox.min.js"></script>

        <!-- Screen Broadcast -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/RTCMultiConnection.min.js"></script>
        <script src="/javascripts/getScreenId.js"></script>
        

        <script>
            var excepList = [];
            var accessibility = "allow";
            var interactiveCount = 0;
            var firstTimeInThisPage = [true , true];

            function init(){ 
                initFirebase();
                var userEmail = "<%= user.emails[0].value %>";
                var userEID = userEmail.split('@')[0];
                var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');

                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                hyperlinkOverlay(codeMirror);
                var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: true, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                firepad.on('ready', function() {
                    if(firepad.isHistoryEmpty()) {
                        firepad.setHtml('<span style="font-size: 24px;"><%= title %> </span>');
                    }
                });
                var sharedDirLink = $('<li class="dropdown"></li>').html(`
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;共享筆記<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="watchNote()"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;觀看同學筆記</a></li>
                            <li><a href="#" id="setting" onclick="settingbtn()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;共享權限設定</a></li></ul></li>
                `);
                $('#navList').append(sharedDirLink);
                var irsLiElement = $('<li class="dropdown"></li>').html(`
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="irsButton" onclick="interactiveReset()"><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;課堂即時互動<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="irs-student" target="irs-student"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;互動問答</a></li>
                `);
                $('#navList').append(irsLiElement);
                var liveLink = $('<li></li>').html('<a href="#" id="joinBroadcast" onclick="livebtn()"><span class="glyphicon glyphicon-globe"></span> 查看課程廣播</a>');
                $('#navList').append(liveLink);

                
                var btn = document.createElement("button");
                btn.setAttribute('onclick',"slidebtn()");
                btn.setAttribute('id',"slidebtn");
                btn.setAttribute('class',"btn navbar-btn btn-info");
                btn.innerHTML = "隱藏筆記";
                var liElement = document.createElement("li");
                liElement.appendChild(btn);
                $('#navList').append(liElement);
                showPPT();

                /* Init ACL when user acceses note first time */
                var sharedAclRef = firebase.database().ref('/'+'shared-acl' + '/' + userEID + '/<%= title %>');
                sharedAclRef.on('value',function(data){
                    if(data.val() == null){
                        sharedAclRef.set({
                            all : 'allow',
                            excep : ""
                        });
                    }else{
                        accessibility = data.val().all;
                        excepList = data.val().excep;
                    }

                });
                var connection = new RTCMultiConnection(null, {
                    useDefaultDevices: true // if we don't need to force selection of specific devices
                });
                connection.socketURL = '/';
                connection.socketMessageEvent = 'note-taking-system';
                var socket = connection.getSocket();
                socket.on('newChoiceQuestion' , function(question){
                    interactiveCount++;
                    showInteractiveNotice(interactiveCount);
                });
                socket.emit("requestCurrentChoiceQuestionFromStudent" , {});
                socket.on("responseCurrentChoiceQuestionFromTeacher",function(questions){
                    if( firstTimeInThisPage[0] ){
                        interactiveCount+= questions.length;
                        showInteractiveNotice(interactiveCount);
                    }
                    firstTimeInThisPage[0] = false;
                });
                socket.on('slashQuestion', function(msg){
                    interactiveCount++;
                    showInteractiveNotice(interactiveCount);
                });
                socket.emit("requestCurrentSlashQuestionFromStudent" , {});
                socket.on("responseCurrentSlashQuestionFromTeacher",function(questions){
                    if( firstTimeInThisPage[1] ){
                        interactiveCount+= questions.length;
                        showInteractiveNotice(interactiveCount);
                    }
                    firstTimeInThisPage[1] = false;
                });
            }

            function showPPT() {
                document.getElementById("video-preview").style.display = "none";
                document.getElementById("slide").style.display = "";
                //$('#ppt').attr('src', url);

            }
            function showVideo(){
                document.getElementById("slide").style.display = "none";
                document.getElementById("slide").style.zIndex = "0";
                document.getElementById("video-preview").style.display = "";
                document.getElementById("video-preview").style.zIndex = "1";
                //$('#learningBlock').append('<video id="video-preview" controls loop></video');
            }
            function slidebtn(){
                var btn = document.getElementById("slidebtn");
                if( btn.innerHTML == "隱藏筆記" ){
                    btn.innerHTML = "顯示筆記";
                    document.getElementById('slide').style.right = "0%";
                    document.getElementById('video-preview').style.width = "100%";
                    document.getElementById('firepad-container').style.left = "100%";
                }
                else if ( btn.innerHTML == "顯示筆記" ){
                    btn.innerHTML = "隱藏筆記";
                    document.getElementById('slide').style.right = "33%";
                    document.getElementById('video-preview').style.width = "67%";
                    document.getElementById('firepad-container').style.left = "67%";
                }
            }
           
            function parsePPTURL(pptUrl){
                var patt = /https:.*?(quot;|#39)/;
                var match = patt.exec(pptUrl);
                var url = match[0].substr(0,match[0].length - 4);
                url = url.replace(/&amp;/g,"&");
                return url;
            }
            function watchNote(){
                var dialog = bootbox.dialog({
                    title: '<h3>請輸入同學的Email帳號</h3>',
                    message: "<h4>例如 : <font color='red'>abc@gmail.com</font> 或 <font color='red'>abc@ncnu.edu.tw</font> 只要輸入 <big><font color='red'>abc</font></big> 即可</p></h4><input id='classmateEID' type='text' class='form-control'>",
                    buttons: {
                        cancel: {
                            label: "取消",
                            className: 'btn-danger',
                        },
                        ok: {
                            label: "觀看",
                            className: 'btn-info',
                            callback: function(){            
                                var classmateEID = document.getElementById('classmateEID').value;
                                // Input nothing => alert and return
                                if(classmateEID == "" || classmateEID == undefined){
                                    bootbox.alert("<h3><font color='red'><span class='glyphicon glyphicon-remove'></span></font> 請輸入Email帳號</h3>");
                                    return;
                                }
                                sharedNoteProcess(classmateEID.trim());
                            }
                        }
                    }
                });
            }      
            function legalSharedNoteProcessResult(classmateEID){      
                var firepadRef = firebase.database().ref('/'+'note-'+ classmateEID).child('<%= title %>');
                var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });// Actually, you will not modify the content of firepad-container... But it has to do this to use firepad.getHtml()
                var shareFirepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                    { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                );
                shareFirepad.on('ready', function() {
                    if(shareFirepad.getHtml() == ""){
                        bootbox.alert("<h3><font color='red'><span class='glyphicon glyphicon-remove'></span></font> 查無此人筆記，請重新輸入</h3>");            
                    }else{
                        /* Shared-note count */
                        // 筆記第一次被觀看時，就會把它紀錄在 /shared-note 裡面，並且初始值為 1
                        var content = shareFirepad.getHtml();
                        var sharedCountRef = firebase.database().ref('/'+'shared-count' + '/' + classmateEID + '/<%= title %>');
                        sharedCountRef.once('value').then(function(data){
                            if( data.val() == null ){
                                sharedCountRef.set({
                                    count : '1'
                                });
                                showSharedNote(1 , content);
                            }else{ 
                                var count = data.val().count;
                                count = Number(count) + 1;
                                sharedCountRef.set({
                                    count : count
                                });
                                showSharedNote(count ,content);
                            }
                        }); 
                    }
                    shareFirepad.dispose();
                });
            }
            function sharedNoteProcess(classmateEID){
                var sharedAclRef = firebase.database().ref('/'+'shared-acl' + '/' + classmateEID + '/<%= title %>');
                var aclDataPromise = new Promise( (resolve, reject) => {
                    sharedAclRef.once('value').then( (data) => {
                        resolve(data.val());
                    })
                });
                aclDataPromise.then( (aclData) => {
                    if(aclData == null){
                        legalSharedNoteProcessResult(classmateEID);
                    }else{
                        var thisUserEID =  "<%= user.emails[0].value %>".split('@')[0];
                        var eList = aclData.excep;
                        if( aclData.all == "deny" && ( eList == "" || eList.indexOf(thisUserEID) == -1 ) ){ // Deny all, but not in exception list => Forbidden
                            bootbox.alert("<h3 align='center'><font color='red'><span class='glyphicon glyphicon-remove'></span></font> 沒有觀看權限</h3>");
                        }
                        else if ( aclData.all == "allow" &&  ( eList == "" || eList.indexOf(thisUserEID) == -1 ) ){ // Allow all , but not in exception list  => Allow
                            legalSharedNoteProcessResult(classmateEID);
                        }
                        else if( aclData.all == "deny" && eList.indexOf(thisUserEID) > -1 ){ // Deny all, but in exception list => Allow
                            legalSharedNoteProcessResult(classmateEID);
                        }
                        else if ( aclData.all == "allow" && eList.indexOf(thisUserEID) > -1 ){ // Allow all, but in exception list => Forbidden
                            bootbox.alert("<h3 align='center'><font color='red'><span class='glyphicon glyphicon-remove'></span></font> 沒有觀看權限</h3>");
                        }
                    }
                }).catch( (err) => {
                    bootbox.alert("<h3><font color='red'><span class='glyphicon glyphicon-remove'></span></font> 系統錯誤，請通知系統管理員</h3>");
                    console.log(err);
                });
            }
            // 顯示共享筆記
            function showSharedNote(count, content){
                var dialog = bootbox.dialog({
                    title: '<p align="center">已被觀看次數 : <font color="red">' + count + '</font></p>',
                    message: content,
                    buttons: {
                        ok: {
                            label: "關閉",
                            className: 'btn-info'
                        }
                    }
                });
                dialog.find('.modal-content').css({'user-select': 'none'}); // 選取功能限制
            }
            function liveSwitchBtn(){
                var pptUrl = parsePPTURL("<%= pptUrl %>");
                var switchBtn = document.getElementById("liveSwitchBtn");
                if( switchBtn.innerHTML == "顯示離線的投影片" ){
                    switchBtn.innerHTML = "跟隨線上課程廣播";
                    showPPT(pptUrl);
                }
                else if( switchBtn.innerHTML == "跟隨線上課程廣播" ){
                    switchBtn.innerHTML = "顯示離線的投影片";
                    showVideo();
                }
            }
            function livebtn() {
                var courseRef = firebase.database().ref("/courses").child("<%= courseName %>");
                courseRef.on("value", function (data) {
                    var livePromise = new Promise((resolve, reject) => {
                        resolve(data.val().cid);
                    });
                    livePromise.then(broadcastId => {
                        var socket = connection.getSocket();
                        socket.emit('check-broadcast-presence', broadcastId, function (isBroadcastExists) {
                            if (!isBroadcastExists) {
                                // the first person (i.e. real-broadcaster) MUST set his user-id
                                //connection.userid = broadcastId;
                                bootbox.alert('<h3>目前老師還沒有在上課喔!</h3>');
                            } else {
                                console.log('check-broadcast-presence', broadcastId, isBroadcastExists);

                                bootbox.confirm({
                                    message: "<h3>目前老師正在上課! <br>是否觀看廣播 ?</h3>",
                                    buttons: {
                                        confirm: {
                                            label: '觀看',
                                            className: 'btn-success'
                                        },
                                        cancel: {
                                            label: '取消',
                                            className: 'btn-danger'
                                        }
                                    }, callback: function (result) {
                                        if (result) {  // if click "觀看"
                                            receiveBroadcast(broadcastId);
                                        }
                                    }
                                });

                            };
                        });
                    }).catch(err => {
                        console.log(err);
                        bootbox.alert('<h3>伺服器忙碌中，請稍後再試一次 ! </h3>');
                    });
                });
            };
            function settingbtn(){
                var showExcepList = excepList;
                var dialog = bootbox.dialog({
                    title: '<h3 align="center">共享筆記權限設定</h3>',
                    message: `
                        <p><b><big>變更權限</big></b> <label class="switch"><input class="aclSwitch" type="checkbox" onclick="aclSwitchBtn()"><span class="slider round"></span></label></p>`
                        + "<h4 id='dialogAclDescription'>目前權限 : <font color='green'>允許</font>所有人存取，但清單內的帳號<font color='red'>禁止</font>存取。</h4>"
                        + "<h4>例外名單帳號(以 , 分隔) : </h4><br><input class='form-control' id='excepList' value='" + showExcepList + "'></p>"
                    ,
                    buttons: {
                        ok: {
                            label: "儲存",
                            className: 'btn-info',
                            callback: function(){
                                var userEmail = "<%= user.emails[0].value %>";
                                var thisUserEID = userEmail.split('@')[0];
                                var sharedAclRef = firebase.database().ref('/'+'shared-acl' + '/' + thisUserEID + '/<%= title %>');
                                var excepListContent = document.getElementById("excepList").value;
                                var newExcepList = [];
                                var splitExcepList = excepListContent.split(',');
                                var listMsg = "";
                                for( var i in splitExcepList){
                                    newExcepList.push( splitExcepList[i].trim() );
                                    listMsg += splitExcepList[i].trim() + "<br>";
                                }   
                                if ( document.querySelector('.aclSwitch:checked') ){
                                    sharedAclRef.set({
                                        all : 'deny',
                                        excep : newExcepList
                                    });
                                    if( newExcepList == "" )
                                        newExcepList = "無";
                                    
                                    bootbox.alert("<h4><font color='red'>禁止</font>所有人觀看我的共享筆記，但是下列名單<font color='green'>例外</font> </h4> <h5>" + listMsg + "</h5>");
                                }
                                else{
                                    sharedAclRef.set({
                                        all : 'allow',
                                        excep : newExcepList
                                    });
                                    if( newExcepList == "" )
                                        newExcepList = "無";
                                    bootbox.alert("<h4><font color='green'>允許</font>所有人觀看我的共享筆記，但是下列名單<font color='red'>例外</font> : </h4> <h5>" + listMsg + "</h5>");
                                }                                    
                            }
                        }
                    }
                });
                if( accessibility == "deny" ){
                    document.getElementsByClassName("aclSwitch")[0].checked = true;
                    aclSwitchBtn();
                }else{
                    document.getElementsByClassName("aclSwitch")[0].checked = false;
                    aclSwitchBtn();
                }
                    
            }
            function aclSwitchBtn(){
                if( document.getElementsByClassName("aclSwitch")[0].checked )
                    document.getElementById("dialogAclDescription").innerHTML = "目前權限 : <font color='red'>禁止</font>所有人存取，但清單內的帳號<font color='green'>允許</font>存取。";
                else
                    document.getElementById("dialogAclDescription").innerHTML = "目前權限 : <font color='green'>允許</font>所有人存取，但清單內的帳號<font color='red'>禁止</font>存取。";
                
            }

            function showInteractiveNotice(count){
                var irsBtn = document.getElementById("irsButton");
                if( irsBtn.getElementsByTagName("span")[2] ){
                    irsBtn.getElementsByTagName("span")[2].innerHTML = count;
                }else{
                    $("#irsButton").append('<span class="label label-danger">' + count + '</span>');
                }
            }
 
            function interactiveReset(){
                var irsBtn = document.getElementById("irsButton");
                if( irsBtn.getElementsByTagName("span")[2] )
                    irsBtn.removeChild(irsBtn.getElementsByTagName("span")[2]);
                interactiveCount = 0;
            };
        </script>
</head>
<body onload="init();">
    <% include layouts/header %>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="embed-responsive embed-responsive" id="slide">
                    <iframe id="ppt" allowFullScreen></iframe>
                    <script>
                        var pptUrl = parsePPTURL("<%= pptUrl %>");
                        $('#ppt').attr('src', pptUrl);
                    </script>
                </div>
                <video id="video-preview" controls="false"></video>       
                <script src="/javascripts/broadcast-student.js"></script>  <!-- Must be here -->
            </div>
            <div class="col-sm-6 col-md-6">
                <div id="firepad-container">
                </div>
            </div>
    </div>

</body>
</html>
